.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.post {
  display: flex;
  flex-direction: column;
  background-color: white;
  border-radius: 32px;
  box-shadow: rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0.2) 0px 2px 2px 0px;
  align-self: flex-start;
  height: 400px;
  overflow: hidden;
  text-align: left;
}

.header {
  font-family: Comfortaa, Arial, sans-serif;
  font-size: 35px;
  font-weight: 500;
  color: rgb(18, 71, 52);
}

.redBorder {
  border: 3px solid red;
}

.title {
  font-family: Comfortaa, Arial, sans-serif;
  font-size: 20px;
  font-weight: normal;
  color: rgb(18, 71, 52);
  margin: 0px;
}

.subTitle {
  font-family: Comfortaa, Arial, sans-serif;
  font-size: 13px;
  font-weight: 300;
  font-weight: normal;
  color: black;
  margin: 0px;
}

.published {
  font-family: Comfortaa, Arial, sans-serif;
  font-size: 14px;
}

.author {
  font-family: "Kumbh Sans", sans-serif;
  margin: 0px;
  margin-left: 8px;
  font-size: 13px;
}

.postContainer {
  column-gap: 56px;
  display: grid;
  font-family: "Kumbh Sans", sans-serif;
  grid-template-columns: calc(33% - 38px) calc(33% - 38px) calc(33% - 38px);
  max-width: 1152px;
  line-height: 24px;
  margin-bottom: 8px;
  margin-left: 0px;
  margin-right: 0px;
  margin-top: 8px;
  padding-left: 64px;
  padding-right: 64px;
  padding-bottom: 24px;
  row-gap: 56px;
  tab-size: 4;
  overflow: hidden;
}

.articleBody {
  display: flex;
  flex: 1;
  flex-direction: column;
  padding: 16px;
  padding-top: 12px;
  overflow: hidden;
  justify-content: space-between;
}

.credits {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 12px;
}

.row {
  display: flex;
  align-items: center;
}

.avatar {
  border-radius: 20px;
}

@media only screen and (max-width: 1036px) {
  .postContainer {
    grid-template-columns: calc(50% - 28px) calc(50% - 28px);
  }
}

@media only screen and (max-width: 782px) {
  .postContainer {
    grid-template-columns: 100%;
  }
}